* {
  margin: 0;
  padding: 0;
  /* font-family: ; */
}

div {
  border: 2px solid black;
}

#div1 {
  color: red;
}
#div2 {
  color: orange;
}
#div3 {
  color: rgb(244, 227, 42);
}
#div4 {
  color: green;
}
#div5 {
  color: blue;
}

